.h1{
    margin-top: -10px;
    font-size: 22px;
}
.content{
    height: 200px;
    width: 600px;

    
}

.buttons{
    display: flex;
    justify-content: flex-end;
}
.button{
    font-size: 16px;
    margin: 5px;

   &.btn-save{
    color:white;
    background-color: blue;

   &.btn-cancel{
    color: black;
    background-color: lightgray;
    border: 1px solid darkgrey;
} 
   }
}